<div class="nav-submenu nav-submenu--dark">
    <button class="nav-submenu__close transparent">
      <i class="fa fa-times"></i>
    </button>
    <div class="nav-submenu__column">
      <div class="nav-submenu__title">Advanced</div>
      <ul class="nav-submenu__list">
        <li class="nav-submenu__item">
          <a class="nav-submenu__link" href="#">History</a>
        </li>
        <li class="nav-submenu__item">
          <a class="nav-submenu__link" href="#">Print this article</a>
        </li>
      </ul>
    </div>
  </div>
  