@import '../../styles/utils.scss';

$component: 'wiki-settings';

.#{$component} {
  text-align: right;
  @include element('list') {
    font-size:0;
  }
  @include element('item') {
    z-index: 1;
    display: inline-block;
    position: relative;
    font-size: 1rem;
  }
  @include element('langauage') {
    color: $gray-3;
    padding: 5px 11px;
  }
  @include element('edit') {
    border: 2px solid $blue-2;
    color: $blue-3;
    padding: 5px 11px;
    margin-left: 13px;
  }
  @include element('advanced') {
    border: 2px solid $gray-4;
    color: $gray-3;
    padding: 5px 11px;
    margin-left: 13px;
  }
  @include element('submenu') {
    position: absolute;
    top:100%;
    right:0;
  }
}