<div class="nav-submenu nav-submenu--dark">
  <button class="nav-submenu__close transparent">
    <i class="fa fa-times"></i>
  </button>
  <div class="nav-submenu__column">
    <ul class="nav-submenu__list">
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Afrikaans (af)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">عربي (ar)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Български (bg)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Bamanankan (bm)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">বাংলা (বাংলাদেশ) (bn-BD)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Bengali (India)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Català (ca)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Čeština (cs)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Deutsch (de)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">Ελληνικά (el)</a>
      </li>
      <li class="nav-submenu__item">
        <a class="nav-submenu__link" href="#">한국어 (ko)</a>
      </li>
    </ul>
  </div>
</div>
