<div class="wiki-content">
  <aside class="wiki-content__aside">
    <div class="wiki-content__breadcrumb">
      ${require('../breadcrumb/breadcrumb.html')}
    </div>
    <div class="wiki-content__quick-menu">
      ${require('../quick-menu/quick-menu.html')}
    </div>
  </aside>
  <section class="wiki-content__section">
    <article class="wiki-content__article">
      <div class="wiki-content__column-container">
          ${require('../column-container/column-container.html')}
        </div>
        <div class="wiki-content__community-box">
          ${require('../community-box/community-box.html')}
        </div>
    </article>
    <div class="wiki-content__contributors">
      ${require('../contributors/contributors.html')}
    </div>
  </section>
</div>