<div class="quick-menu">
  <div class="quick-menu__head">Related Topics</div>
  <ol class="quick-menu__list">
    <li class="quick-menu__item">
      <a class="quick-menu__link" href="#">
        <strong><em>Javascript</em></strong>
      </a>
    </li>
    <li class="quick-menu__item">
      <a class="quick-menu__link" href="#">
        <strong>Tutorials:</strong>
      </a>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Complete beginners</summary>
        <ol>
          <li><a class="quick-menu__link" href="#">JavaScript basics</a></li>
          <li><a class="quick-menu__link" href="#">JavaScript first steps</a></li>
          <li><a class="quick-menu__link" href="#">JavaScript building blocks</a></li>
          <li><a class="quick-menu__link" href="#">Introducing JavaScript objects</a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">JavaScript Guide</summary>
        <ol>
          <li><a class="quick-menu__link" href="#">Introduction</a></li>
          <li><a class="quick-menu__link" href="#">Grammar and types</a></li>
          <li><a class="quick-menu__link" href="#">Control flow and error handling</a></li>
          <li><a class="quick-menu__link" href="#">Loops and iteration</a></li>
          <li><a class="quick-menu__link" href="#">Functions</a></li>
          <li><a class="quick-menu__link" href="#">Expressions and operators</a></li>
          <li><a class="quick-menu__link" href="#">Numbers and dates</a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Intermediate</summary>
        <ol>
          <li><a class="quick-menu__link" href="#">Introducing JavaScript objects</a></li>
          <li><a class="quick-menu__link" href="#">Client-side web APIs</a></li>
          <li><a class="quick-menu__link" href="#">A re-introduction to JavaScript</a></li>
          <li><a class="quick-menu__link" href="#">JavaScript data structures</a></li>
          <li><a class="quick-menu__link" href="#">Equality comparisons and sameness</a></li>
          <li><a class="quick-menu__link" href="#">Closures</a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Advanced</summary>
        <ol>
          <li><a class="quick-menu__link" href="#">Inheritance and the prototype chain</a></li>
          <li><a class="quick-menu__link" href="#">Strict mode</a></li>
          <li><a class="quick-menu__link" href="#">JavaScript typed arrays</a></li>
          <li><a class="quick-menu__link" href="#">Memory Management</a></li>
          <li><a class="quick-menu__link" href="#">Concurrency model and Event Loop</a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <a class="quick-menu__link" href="#">
        <strong>Reference:</strong>
      </a>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Built-in objects</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Expressions & operators</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Statements & declarations</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Functions</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Classes</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Errors</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Misc</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">New in JavaScript</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <a class="quick-menu__link" href="#">
        <strong>Documentation:</strong>
      </a>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Useful lists</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
    <li class="quick-menu__item">
      <details class="quick-menu__details">
        <summary class="quick-menu__summary">Contribute</summary>
        <ol>
          <li><a class="quick-menu__link" href="#"></a></li>
        </ol>
      </details>
    </li>
  </ol>
</div>