<div class="footer">
	<div class="footer__center">
		<a href="/en-US/" class="footer__logo">MDN Web Docs</a>
		<a href="https://mozilla.org" class="footer__mozilla">Mozilla</a>
		<form class="footer__languages" method="get" action="/en-US/docs/Web">
			<label for="language">Other languages:</label>
			<select id="language" class="wiki-l10n" name="next" dir="ltr">
				<option title="English (US)" data-locale="en-US" value="/en-US/docs/Web/JavaScript" selected="">
					English (US) (en-US)
				</option>
				<option title="Afrikaans" data-locale="en-US" value="/af/docs/Web/JavaScript">
					Afrikaans (af)
				</option>
				<option title="Arabic" data-locale="en-US" value="/ar/docs/Web/JavaScript">
					عربي (ar)
				</option>
				<option title="Azerbaijani" data-locale="en-US" value="/az/docs/Web/JavaScript">
					Azərbaycanca (az)
				</option>
				<option title="Bulgarian" data-locale="en-US" value="/bg/docs/Web/JavaScript">
					Български (bg)
				</option>
				<option title="Bambara" data-locale="en-US" value="/bm/docs/Web/JavaScript">
					Bamanankan (bm)
				</option>
				<option title="Bengali (Bangladesh)" data-locale="en-US" value="/bn-BD/docs/Web/JavaScript">
					বাংলা (বাংলাদেশ) (bn-BD)
				</option>
				<option title="Bengali (India)" data-locale="en-US" value="/bn-IN/docs/Web/%E0%A6%9C%E0%A6%BE%E0%A6%AD%E0%A6%BE%E0%A6%B8%E0%A7%8D%E0%A6%95%E0%A7%8D%E0%A6%B0%E0%A6%BF%E0%A6%AA%E0%A7%8D%E0%A6%9F">
					বাংলা (ভারত) (bn-IN)
				</option>
				<option title="Catalan" data-locale="en-US" value="/ca/docs/Web/JavaScript">
					Català (ca)
				</option>
				<option title="Czech" data-locale="en-US" value="/cs/docs/Web/JavaScript">
					Čeština (cs)
				</option>
				<option title="German" data-locale="en-US" value="/de/docs/Web/JavaScript">
					Deutsch (de)
				</option>
				<option title="Greek" data-locale="en-US" value="/el/docs/Web/JavaScript">
					Ελληνικά (el)
				</option>
				<option title="Spanish" data-locale="en-US" value="/es/docs/Web/JavaScript">
					Español (es)
				</option>
				<option title="Persian" data-locale="en-US" value="/fa/docs/Web/JavaScript">
					فارسی (fa)
				</option>
				<option title="French" data-locale="en-US" value="/fr/docs/Web/JavaScript">
					Français (fr)
				</option>
				<option title="Hebrew" data-locale="en-US" value="/he/docs/Web/JavaScript">
					עברית (he)
				</option>
				<option title="Hindi (India)" data-locale="en-US" value="/hi-IN/docs/Web/JavaScript">
					हिन्दी (भारत) (hi-IN)
				</option>
				<option title="Croatian" data-locale="en-US" value="/hr/docs/Web/JavaScript">
					Hrvatski (hr)
				</option>
				<option title="Hungarian" data-locale="en-US" value="/hu/docs/Web/JavaScript">
					magyar (hu)
				</option>
				<option title="Indonesian" data-locale="en-US" value="/id/docs/Web/JavaScript">
					Bahasa Indonesia (id)
				</option>
				<option title="Italian" data-locale="en-US" value="/it/docs/Web/JavaScript">
					Italiano (it)
				</option>
				<option title="Japanese" data-locale="en-US" value="/ja/docs/Web/JavaScript">
					日本語 (ja)
				</option>
				<option title="Georgian" data-locale="en-US" value="/ka/docs/Web/JavaScript">
					ქართული (ka)
				</option>
				<option title="Kabyle" data-locale="en-US" value="/kab/docs/Web/JavaScript">
					Taqbaylit (kab)
				</option>
				<option title="Korean" data-locale="en-US" value="/ko/docs/Web/JavaScript">
					한국어 (ko)
				</option>
				<option title="Malay" data-locale="en-US" value="/ms/docs/Web/JavaScript">
					Melayu (ms)
				</option>
				<option title="Burmese" data-locale="en-US" value="/my/docs/Web/JavaScript">
					မြန်မာဘာသာ (my)
				</option>
				<option title="Dutch" data-locale="en-US" value="/nl/docs/Web/JavaScript">
					Nederlands (nl)
				</option>
				<option title="Polish" data-locale="en-US" value="/pl/docs/Web/JavaScript">
					Polski (pl)
				</option>
				<option title="Portuguese (Brazilian)" data-locale="en-US" value="/pt-BR/docs/Web/JavaScript">
					Português (do&nbsp;Brasil) (pt-BR)
				</option>
				<option title="Portuguese (Portugal)" data-locale="en-US" value="/pt-PT/docs/Web/JavaScript">
					Português (Europeu) (pt-PT)
				</option>
				<option title="Romanian" data-locale="en-US" value="/ro/docs/Web/JavaScript">
					Română (ro)
				</option>
				<option title="Russian" data-locale="en-US" value="/ru/docs/Web/JavaScript">
					Русский (ru)
				</option>
				<option title="Albanian" data-locale="en-US" value="/sq/docs/Web/JavaScript">
					Shqip (sq)
				</option>
				<option title="Serbian" data-locale="en-US" value="/sr/docs/Web/JavaScript">
					Српски (sr)
				</option>
				<option title="Serbian" data-locale="en-US" value="/sr-Latn/docs/Web/JavaScript">
					Srpski (sr-Latn)
				</option>
				<option title="Swedish" data-locale="en-US" value="/sv-SE/docs/Web/JavaScript">
					Svenska (sv-SE)
				</option>
				<option title="Tamil" data-locale="en-US" value="/ta/docs/Web/JavaScript">
					தமிழ் (ta)
				</option>
				<option title="Telugu" data-locale="en-US" value="/te/docs/Web/JavaScript">
					తెలుగు (te)
				</option>
				<option title="Thai" data-locale="en-US" value="/th/docs/Web/JavaScript">
					ไทย (th)
				</option>
				<option title="Turkish" data-locale="en-US" value="/tr/docs/Web/JavaScript">
					Türkçe (tr)
				</option>
				<option title="Ukrainian" data-locale="en-US" value="/uk/docs/Web/JavaScript">
					Українська (uk)
				</option>
				<option title="Vietnamese" data-locale="en-US" value="/vi/docs/Web/JavaScript">
					Tiếng Việt (vi)
				</option>
				<option title="Chinese (Simplified)" data-locale="en-US" value="/zh-CN/docs/Web/JavaScript">
					中文 (简体) (zh-CN)
				</option>
				<option title="Chinese (Traditional)" data-locale="en-US" value="/zh-TW/docs/Web/JavaScript">
					正體中文 (繁體) (zh-TW)
				</option>
			</select>
			<noscript><button type="submit">Go</button></noscript>
		</form>
		<ul class="footer__tos">
			<li><a href="https://www.mozilla.org/about/legal/terms/mozilla">Terms</a></li>
			<li><a href="https://www.mozilla.org/privacy/websites/">Privacy</a></li>
			<li><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
		</ul>
		<div class="footer__contentinfo">
			<p>© 2005-2018 Mozilla and individual contributors.</p>
			<p>Content is available under <a href="/en-US/docs/MDN/About#Copyrights_and_licenses">these licenses</a>.</p>
		</div>
		<div class="footer__group-mdn">
			<h2 class="footer__group-title">MDN</h2>
			<ul class="footer__group-list">
				<li><a href="/en-US/docs/Web">Web Technologies</a></li>
				<li><a href="/en-US/docs/Learn">Learn Web Development</a></li>
				<li><a href="/docs/MDN/About">About MDN</a></li>
				<li><a href="/en-US/docs/MDN/Feedback">Feedback</a></li>
				<li class="footer__group-social">
					<a href="https://twitter.com/mozdevnet">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
				</li>
				<li class="footer__group-social">
					<a href="https://github.com/mdn/">
						<i class="fa fa-github fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__group-mozilla">
			<h2 class="footer__group-title">Mozilla</h2>
			<ul class="footer__group-list">
				<li><a href="https://www.mozilla.org/about/">About</a></li>
				<li><a href="https://www.mozilla.org/contact/">Contact Us</a></li>
				<li><a href="https://www.mozilla.org/firefox/?utm_source=developer.mozilla.org&amp;utm_campaign=footer&amp;utm_medium=referral">Firefox</a></li>
				<li class="footer__group-social">
					<a href="https://twitter.com/mozilla">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
				</li>
				<li class="footer__group-social">
					<a href="https://www.facebook.com/mozilla">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
				</li>
				<li class="footer__group-social">
					<a href="https://www.instagram.com/mozillagram/">
						<i class="fa fa-instagram fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
