<div class="nav-submenu">
	<button class="nav-submenu__close transparent">
		<i class="fa fa-times"></i>
	</button>
	<div class="nav-submenu__column">
		<ul class="nav-submenu__list">
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Learn web development</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Tutorials</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">References</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Developer Guides</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Accessibility</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Game development</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">...more docs</a>
			</li>
		</ul>
	</div>
</div>
