<div class="nav-submenu">
	<button class="nav-submenu__close transparent">
		<i class="fa fa-times"></i>
	</button>
	<div class="nav-submenu__column">
		<ul class="nav-submenu__list">
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Get Firefox help</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Get web development help</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Join the MDN community</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Report a content problem</a>
			</li>
			<li class="nav-submenu__item">
				<a class="nav-submenu__link" href="#">Report a bug</a>
			</li>
		</ul>
	</div>
</div>
