<nav class="nav" role="navigation">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#">
        <span>Technologies</span>
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="nav__submenu">
        ${require('./nav-submenu-technologies.html')}
      </div>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">
        <span>References & Guides</span>
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="nav__submenu">
        ${require('./nav-submenu-references-guides.html')}
      </div>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">
        <span>Feedback</span>
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="nav__submenu">
        ${require('./nav-submenu-feedback.html')}
      </div>
    </li>  
  </ul>
</nav>