@import '../../styles/utils.scss';

$component: 'auth';
.#{$component} {
  @include element('link') {
    display: inline-block;
    line-height: 88px;
    padding: 0 10px;
    color: $gray-2;
    &:hover {
      background-color: $gray-5;
    }
    .fa-github {
      margin-left: 5px;
      vertical-align: text-bottom;
    }
  }
}